on:
  push:
  pull_request:

  
jobs:
  build_and_push_image:
    steps:
      - name: checkout code
        uses: actions/checkout@v5.0.0

      - name: login to dockerhub
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME}}
          password: ${{ secrets.DOCKER_TOKEN}}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Docker_API/Dockerfile
          push: true
          tags: abdelrhmanpasha/abdelrhman:firstV1
  
  deploy:
    needs: build_and_push_image
    steps:
      - name: checkout code
        uses: actions/checkout@v5.0.0
      - name: install ghaymah cli
        run: curl -sSl https://cli.ghaymah.systems/install.sh | bash

      - name: login to ghaymah
        run: $HOME/ghaymah/bin/gy auth login --email "${{secrets.GH_EMAIL}}" --password "${{secrets.GH_PASS}}"

      - name: deploy
        run: $HOME/ghaymah/bin/gy resource app launch